[Unit]
Description=Run trader-once every 15 minutes + 15 seconds

[Timer]
OnCalendar=*:0/15:15
Persistent=true
Unit=trader-once.service

[Install]
WantedBy=timers.target
