[Unit]
Description=Run trader-once every 15 minutes + 15 seconds

[Timer]
OnCalendar=*:00/15:00
AccuracySec=1s
Persistent=true
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
